@import "tailwindcss";

*,
*::before,
*::after{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply bg-[#f8f9fb];
}